/* CSS Document */
    
	h1{color:#00A4E1;padding:0; margin:0; margin-top:10px;}
    a{color:#00A4E1; text-decoration:none;}
    a:hover {text-decoration:underline;}
	small a{color:#999; font-size:10px;}
	small a:hover {text-decoration:underline;}
	#tools a{color:#999; font-size:10px;}
	#hometop {clear:left;margin:auto;background:#fff; width:786px;}
	#flash {float:left;width:532px;}

/*Buttons*/
	#buttons ul{padding:0; margin:0;}
    #buttons {width:180px; padding:0; margin:0;padding-bottom:30px;margin-top:10px;}
	#buttons ul li a {width:174px;background: bottom right url("images/bg_calltoaction_internal.gif") repeat-x;} 
	#buttons ul li a:hover {background: bottom right url("images/bg_calltoaction_internal_active.jpg") repeat-x;} 
    img.active{padding-left:20px;}
	
/*Content*/
	#content{float:left;width:380px;margin:0; padding:0 10px 40px 20px; font-size:11px;line-height:19px;}
    
	#content h1{font-size:20pt;padding-bottom:12px;line-height:20pt;}
	#content h2 {font-size:13pt; line-height:14pt; margin:0;padding-top:10px;}
	#content h3 {font-size:11pt; margin:0;padding-top:10px;}
	#content h4 {font-size:11px; margin:0;padding-top:10px;}
	#content h5 {font-size:11px; margin:0;padding-top:10px;}
	#content h6 {font-size:11pt; margin:0;padding-top:10px;}
		
	#content u {color:#05ABE9; text-decoration:none;font-weight:bold;}	
	a.read_more {text-decoration:none; float:right; padding-left:14px; margin:0 15px 4px 0;background:left url"images/btn_read_more_arrow.gif") no-repeat;}
	#content p, #content ul {margin:0; padding-top:8px;}
	#content input {padding:1px 4px; solid #999;}
	#content select {border:1px solid #999;}
	#content ul {margin:0;padding:0;padding-left:4px;padding-top:6px;}
	#content ul li {font-size:11px;list-style-type:none;background:1px 3px url("images/img_bullet_grey.gif") no-repeat; padding:0 0 6px 20px;}
	#content li a{font-size:11px;}
	#content ul ul {padding-left:2px;}
	#content ul ul li {background:1px 3px url("images/img_bullet_circle.gif") no-repeat;}
#hblistmod p strong a {color:#999;font-size:10px;}
						
/*Left Column*/
	#left {float:left; width:150px;padding-left:18px; padding-bottom:30px;}
	#left h3{margin-bottom:8px;}
	.left {margin:0; padding-right:8px;border-right:1px solid #ccc;}
	#topleft {float:left;}
	#bottomleft {float:left;width:174px;float:left;}
	#bottomleft h3{font-weight:bold; margin:0 -8px 6px 0; font-size:16px; color:#fff; padding:0 8px; line-height:28px; background:bottom left url("images/bg_right_title_green.jpg");}

/*Right Column*/
 	#right{width:180px;float:right;padding:0; margin:0; padding-right:18px;}
	.right {margin:0; padding:0px 8px;border-left:1px solid #ccc;}
	#right h4, #right h5 {font-weight:bold; margin:0 -8px 6px -8px; font-size:14px; color:#fff; padding:0 8px; line-height:28px; background:bottom left url("images/bg_right_title_green.jpg");}
	#topright {padding-top:16px;}	
	#topright, #bottomright{margin-bottom:15px;}