/* CSS Document */


	body {line-height:14px; color:#6c6c6c;font-size:11px; font-family:"Verdana", Tahoma, sans-serif; margin:0; padding:0;background-color:#efefef;}
	img{border:none;}
	#container {width:820px; padding:0;background:top left url("../images/bg_container_new.jpg") repeat-y; margin:auto;}
	.ahem {display:none;}

/* Header */	
	#header {padding:0 0 4px 0;width:820px;}
    #headerright{float:right;width:240px; padding-top:12px;padding-right:20px;}
	.logo img{padding-left:16px; align:left;}
    #headerright li {list-style-type:none; display:inline;padding-left:35px;}
    #headerright ul {display:inline;margin:0; padding:0;float:right;padding-right:40px;}
    #frmSearch {display:inline;padding:0;margin:0px;float:right; padding-bottom:2px;font-weight:bold;color:#999; height:20px;font-size:9px;font-family:Tahoma;}
	#keywords {margin-left:4px;padding:2px 2px 1px 2px;font: 11px Arial, Tahoma, sans-serif;width:128px;margin-top:0px !important;margin-top:-1px;margin-right:1px;border-top:1px solid #D5D5D5;border-bottom:1px solid #A7A7A7;border-left:1px solid #D5D5D5;border-right:1px solid #A7A7A7;}
	#btnsearch {background:#fff left url("../images/btn_search_green.gif") no-repeat;width:24px;cursor:pointer;border:none; margin-left:4px;}
	.tagline1{margin:0; padding:0;margin-top:-70px;padding-left:300px; font-size:12px;line-height:20px;color:#999;}
	.tagline2{ padding:0; margin:0; padding-left:300px;padding-bottom:12px;font-size:12px;line-height:20px;color:#999;}
	.tagline3{ padding:0; margin:0;margin-top:-12px; padding-left:300px;padding-bottom:12px;font-size:12px;line-height:20px;color:#999;}

/* Buttons */	
	#buttons {width:228px;float:left; background:none;}
	#buttons ul {padding:6px 0 0 18px;; margin:0;}
	#buttons li{list-style-type:none; margin:0; padding:0;}
    #buttons ul li p {padding:0; margin:0; font-size:9px;font-family:"Verdana", Tahoma, sans-serif; padding-left:4px;}    
	#buttons ul li a {width:150px;background: bottom right url("../images/bg_calltoaction.gif") no-repeat;padding:12px 0px 6px 0px; text-transform:uppercase;display:block; text-decoration:none; font-size:12px;line-height:10px;color:#05ABE9; font-weight:bold; border-bottom:1px solid;}
	#buttons ul li a:hover {background:bottom right url("../images/bg_calltoaction_active_new.gif") no-repeat;}
	#buttons ul li img {float:right;padding-top:12px;}
/* Footer */		
   	#footer {text-align:center;font-size:10px;background-color:#efefef;}
	#footer a {color:#999;text-decoration:none; padding:0 6px;}
	#footer a:hover {text-decoration:underline;}
	#footer p {margin:0px;}
	#copyright {text-align:center;color:#999;font-size:10px;}
	
/* Clear */	
	#clear {margin:auto;clear:both;}
	#clearbottom {clear:both;padding-bottom:8px;background:bottom url("../images/bg_bottom_dropshadow.jpg") no-repeat; width:822px;}	
	
/* Common Nav */
	#navigation {padding:0; padding-left:7px;margin:0; width:802px;background:bottom left url("../images/img_navBack.jpg") repeat-x;}
	#nav {float:right;padding:0px;margin:0px;padding-bottom:6px;}
	#nav a {text-decoration:none;display:block;}
	#nav li {float:left;padding:0px;cursor:pointer;list-style-type:none;}
	#nav ul {float:left;width:150px;padding:0px;position:absolute;left:-999em;margin:0px 0px 0px 2px;}
	#nav ul li {width:150px;display:block;}
	#nav ul li a {display:block;}
	#nav ul ul {width:150px;}
	#nav li:hover ul, #nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left:-999em;}
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul, #nav li li li li.sfhover ul {left:auto;}
	
/* Unique Nav */
	#nav {width:610px; background:top left url("../images/bg_nav_bar.png") repeat-x; color:#fff; padding-left:186px;padding-bottom:18px;}
    #nav ul {}
	#nav a {text-decoration:none;display:block; padding:7px 19px 11px 19px;color:#fff; font-size:14px;font-weight:bold;font-family:"Verdana", Tahoma, ו,sans-serif;}
	#nav a:hover {background:top left url("../images/bg_nav_bar_hover.gif") repeat-x;background-color:none;}
	#nav li {padding:0px;cursor:pointer;list-style-type:none;}
	#nav ul {width:120px;padding:0px;position:absolute;left:-999em;}
	#nav ul li {display:block;width:120px;}
	#nav ul li a {display:block;width:120px;text-align:left;padding:4px 10px 4px 16px;}
	#nav ul ul {margin:0;margin-left:146px;margin-top:-24px;}
	#nav li:hover ul, #nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {left:-999em;color:#999;}
	#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul, #nav li li li li.sfhover ul {left:auto;}
	#nav li ul {background-color:#fff;width:146px;padding:0;border:1px solid #ccc;}
    #nav li li a{font-size:11px; color:#999;margin:0;border-bottom:1px solid #999;}
   	#nav li li a:hover{background:bottom left url("../images/bg_dropdown_hover.jpg") repeat-x;}
	
	
	
	
